// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// カラー変数
$baseBlack:      #333;
$baseGray:       #aaa;
$baseLightGray:  #eee;
$baseBlue:       #428bca;
$baseLightBlue:  #5bc8de;

/*-----------------------

    リセットCSS　+サイト共通設定

-------------------------*/

body,
h1,h2,h3,h4,h5,h6,
p,ul,ol,dl,dt,dd,li,
table,th,td,
form,select,option,input
address,pre,strong,em,iframe,img{
